<main id="main" class="main">

    <div class="container" style="margin-bottom: 10ch;" >
        <div class="border border-info p-4">
        <div class="text-center bi-box-arrow-in-right" >
            <h2>
                ADD BOOKING (Status & Aria)
            </h2>
        </div>
        <form class="row g-12" action="">
            <div class="col-md-6">
              <label for="inputName5" class="form-label">BOOKING STATUS</label>
              <select id="inputState" class="form-select">
                <option selected>Choose...</option>
                <option>PANDING</option>
                <option>PROSSESSING</option>
                <option>OUT FOR DELEVERY</option>
                <option>DELIVERED</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="inputEmail5" class="form-label">ADD TOWN</label>
              <select id="inputState" class="form-select">
                <option selected>Choose...</option>
                <option>DHAKA</option>
                <option>BHOLA</option>
                <option>PABNA</option>
                <option>BOGURA</option>
              </select>
            </div>  
            <div class="text-center mt-2">
              <button type="submit" class="btn btn-outline-success m-2">Submit</button>
              <button  type="reset" class="btn btn-outline-secondary m-2">Reset</button>
            </div>
          </form>
    </div>  
    
    <div class="border border-info p-4 mt-5">
        <table class="table table-striped mt-5">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">BOOKING STATUS</th>
                <th scope="col">ADD TOWN</th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
    </div>
    </div>
    </main>

